.block-area {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.news-description {
    position: relative;
    height: 60vh;
    width: 0;
    margin-left: -10vw;
    background-color: rgb(92, 97, 97);
    transition: 0.3s;
    overflow-x: hidden;
    border-radius: 1%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.news-block {
    height: 60vh;
    width: 40vw;
    background-color: rgb(92, 97, 97);
    margin: 3vh;
    border-radius: 1%;
}

.news-car {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 60vh;
    width: 40vw;
    text-align: center;
    position: relative;
    top: -55vh;
    z-index: 1;
}

.news-image {
    border-radius: 1%;
} 